@import url("styleNULL.css");
@import url("comon.css");
.header__link{
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 10px;
    border-bottom: 1px #315283 solid;
    transition: all 0.4s ease-in-out;
}
.header__link:hover{
    border-bottom: 1px white solid;
}
.header{
    position: sticky;
    top: 0px;
    background-color: #315283;
    border-radius: 0px 0px 70px 70px ;
}
.header__content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0px;
}
.active{
    border-bottom: 1px solid white;
}
.page__content{
    display: flex;
    flex-direction: column;
}
.page__content__block{
    height: calc(100vh - 82px);
}